@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #515369;
  border: 1px solid #515369;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  margin: 2px 0;
  background-color: transparent;
}